.sidenav-container {
  height: 100%;
}



.sidenav {
  width: 280px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.msg{
  text-align: center;
  margin: 280px;
  color: grey;
}
.msg span{
  color: rgb(178, 170, 250);
}


.mat-toolbar {
  font-family: inherit;

}
